.fifthsection {
  padding: 60px 20px;
  text-align: center;
}

.fifthsection-header h2 {
  font-size: 28px;
  font-weight: bold;
  margin-bottom: 40px;
  color: #333;
}

.fifthsection-container {
  display: flex;
  justify-content: center;
  gap: 30px;
  flex-wrap: wrap;
}



.fifthsection-content {
  display: flex;
   width: 100%;
   height: 100%;
    padding: 25px;
  text-align: center;
  flex-direction: column;
  align-items: center;
  gap: 15px; /* spacing between elements */
   align-items: center;   /* vertical centering */
  justify-content: center; /* horizontal centering */
}

.fifthsection-content h3 {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px;
  color: #ddd;
  letter-spacing: 1px;
}

.fifthsection-content p {
  font-size: 14px;
  line-height: 1.6;
  margin: 0;
}

.fifthsection-btn {
  display: inline-block;
  margin-top: 10px;
  padding: 10px 20px;
  background: #c62828;
  color: #fff;
  text-decoration: none;
  font-weight: bold;
  border: 2px solid #a31c1c;
  transition: background 0.3s;
}

.fifthsection-btn:hover {
  background: #a31c1c;
}

.fifthsection-phone {
  color: #e74c3c;
  font-weight: bold;
}

.fifthsection-content a {
  color: #e74c3c;
  text-decoration: none;
}

.fifthsection-content a:hover {
  text-decoration: underline;
}
